<div class="widget-form d-flex flex-column align-items-center my-3">
    <h3>Ajouter un commentaire</h3>
    <form class="col-6 my-3" action="" method="POST">
        <div class="form-group">
            <label for="new-comment-username">Votre nom</label>
            <input type="text" class="form-control" id="new-comment-username" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="new-comment-content">Votre message</label>
            <textarea type="text" class="form-control" id="new-comment-content" name="content"
                placeholder="Message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
</div>